@import 'master';

#order-history {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include tablet {
    width: 70%;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    font-size: $font--med;
    margin-bottom: $sp--sm;

    @include tablet {
      font-size: $font--xl;
    }
  }


  // card wrap
  .orders-wrap {
    display: flex;
    flex-direction: column;

    font-size: $font--msm;
    background-color: $el-gray;
    margin-bottom: $sp--sm;
    padding: $sp--sm;
    border-radius: $bd-radius;

    transition: background-color 0.5s ,box-shadow 0.5s;

    &:hover {
      box-shadow: 0 0 1em rgba(0,0,0,0.2);
    }

    @include tablet {
      font-size: $font--med;
      padding: $sp--msm;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $sp--xs;
  }

  // items in that order
  .order-items {
    padding: $sp--xs;

    // individual items
    .item-image {
      // hide by default
      display: none;

      @include tablet {
        $height: rem(100px);
        $width: $height;

        display: block;
        background: url('http://goo.gl/bLj6Ou') no-repeat center center;
        background-size: contain;
        height: $height;
        width: $width;

      }
    }

    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background: white;
      color: $text-gray;
      padding: $sp--sm ;
      border-radius: $bd-radius;

      @include tablet {
        margin-bottom: $sp--sm; // need to reset this
        justify-content: space-around;
      }

    }

  }
  #buyAgain {
    @include btn--large($google-blue){
      width: 50%;
      padding: 0;
      border: none;
    }
    margin: 0 auto;
    margin-top: $sp--xs;

    @include tablet {
      width: 30%;
      padding: $sp--xs;
      margin: 0;
      margin-left: auto;

    }
  }


} // end of order history