@import 'master';

#order-history {
  display: flex;
  flex-direction: column;
  width: 100%;

  h1 {
    text-align: center;
    font-size: $font--med;
    margin-bottom: $sp--sm;

    @include tablet {
      font-size: $font--lg;
    }
  }


  // card wrap
  .orders-wrap {
    display: flex;
    flex-direction: column;

    font-size: $font--msm;
    background-color: $el-gray;
    margin-bottom: $sp--sm;
    padding: $sp--sm;

    transition: background-color 0.5s ,box-shadow 0.5s;

    &:hover {
      box-shadow: 0 0 1em rgba(0,0,0,0.2);
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $sp--xs;
  }

  // items in that order
  .order-items {
    background: white;
    padding: $sp--xs;
    // individual items
    .details {
      display: flex;
      justify-content: space-between;

      color: $text-gray;
      padding: $sp--xs 0;
    }


  }
  #buyAgain {
    @include btn--large($google-blue){
      width: 50%;
      padding: 0;
      border: none;
    }
    margin: 0 auto;
    margin-top: $sp--sm;
  }


} // end of order history