@import 'master';

.cart-container {
  @include display(flex);
  @include flex-direction(column);

  @include tablet {

  }
} // end of cart-container


// ******************
// Address Column
// ******************

.cart-address-selection {
  margin-bottom: $sp--med;
  padding: $sp--med;
  border: 1px solid $emerald;

}

// ******************
// items Column
// ******************

.cart-col {
  @include flex(1);
}

.cart-item {
  @include display(flex);
  @include flex-direction(column);

  background: $primary-color;
  border-bottom: rem(5px) solid darken($primary-color, 10%);
  margin-bottom: $sp--med;
  -webkit-border-radius: $bd-radius;
  border-radius: $bd-radius;
  padding: $sp--lg;

  @include tablet {

  }
}



