@import 'master';

// Mobile header for login and signup only...
.mobile-header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem;
  width: 100%;

  a {
    text-align: center;
    font-size: 2rem;
    text-decoration: none;
  }
}

.signup-container {
  @include form-style();
  margin-top: 3rem;

    .signup-col span {
      position: relative;
      display: block;

      @include tablet {
        position: absolute;
        display: inline-block;
        min-height: rem(60px);
        margin-top: 3px; // too lazy to do properly align span with input
      }
    }


    // tool tip for wrong password
    .psw-label {
        display: block;
        background: $error-red;
        color: white;
        font-size: $font--msm;

        transition: all 1s ease;
        opacity: 0;
        visibility: hidden;

      @include tablet {
        box-shadow: $g--box-shadow;
        margin-left: 40px;
        display: inline-block;

        padding: 0 10px;
        position: relative;
        height: 60px;
        line-height: 60px;


        // cannot do :: on input
        &::before {
          content: '';
          position: absolute;
          top: 16px; // 50% of span height - height of triangle
          left: -14px; // width of triangle

          width: 0;
          height: 0;
          border-bottom: 14px solid transparent;
          border-top: 14px solid transparent;
          border-right: 14px solid $error-red;
          font-size: 0;
          line-height: 0;
        }
      }
    }
  // transitiona for the label
  .slide {
    visibility: visible;
    opacity: 1;

    @include tablet {
      margin-left: 20px;
    }
  }
}


.signup-login {
  margin: auto;
  font-size: 1.5rem;
  color: black;
  margin-top: .3rem;
  padding: 1rem;
  border-radius: 5px;
  width: 80%;
  transition: .3s ease-in;
  &:hover {
    color: white;
    background-color: $emerald;
  }
}


