@import 'master';



// Mobile
/*body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
}*/


/*.main-profile {
  display: flex;
  flex-direction: column;
}*/

#profile-container {
  height: 100%;
  padding: 0;
  margin: 0;
}

#profile-container h2 {
  font-size: 2rem;
}

#profile-container div {
  width: 50%;
  height: 50%;
  float: left;
}

.main-profile {
    /*display: flex;
    align-items: center;
    justify-content: center;*/

/*    @include debug;
*/    /*top: 100px;
    bottom: 0px;
    width: 100%;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image:    -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image:      -o-linear-gradient(top, #ffffff, #ffffff);
    background-image:         linear-gradient(to bottom, #ffffff, #ffffff);
   /* -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-align-content: center;
    align-content: center;*/

}

.order-history {
  margin: auto;
  border: 2px solid black;
  font-size: 1.5rem;
  padding: 1em;
  color: black;
  text-decoration: underline;
  /*margin-top: .3rem;
  padding: 0.3rem;
  border-radius: 5px;
  width: 15%; */
  transition: .3s ease-in;
  &:hover {
    color: white;
    background-color: $emerald;
  }
}

.profile-col-2 {
  font-size: 1.5rem;
  padding: 6rem;
  /*justify-content: center;*/
   background: linear-gradient(
    rgba(255,255,255, 0.3),
    rgba(255,255,255, 0.3)
    ),url('https://media.licdn.com/media/AAEAAQAAAAAAAAY8AAAAJGEzNzY0Yzg5LTNiMzItNGE0ZS05MzFlLWU1MmY1MDhlMmEzYQ.jpg') no-repeat center center;
    background-size: contain;

    h3 {
      color: white;
      font-size: $font--lg;
    }
  &:hover {
    background: url('https://media.licdn.com/media/AAEAAQAAAAAAAAY8AAAAJGEzNzY0Yzg5LTNiMzItNGE0ZS05MzFlLWU1MmY1MDhlMmEzYQ.jpg') no-repeat center center;
    background-size: contain;
    // can also set px height width
  }
}


.new-address {
  /*margin: auto;*/
  font-size: 1.5rem;
  padding: 1em;
  color: black;
  /*margin-top: .3rem;
  padding: 0.3rem;
  border-radius: 5px;
  width: 15%; */
  justify-content: space-around;
  align-items: flex-end;
  transition: .3s ease-in;
  &:hover {
    color: white;
    background-color: $emerald;
  }
}


.user-info {
  padding: 1em;
  border: 2px solid black;
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;*/
  font-size: 1.5rem;
  color: black;
  /*margin-top: .3rem;
  padding: 0.3rem;
  border-radius: 5px;
  width: 15%;*/
  transition: .3s ease-in;
  &:hover {
    color: white;
    background-color: $emerald;
  }
}

.user-info h3 {
  text-decoration: underline;
  padding-bottom: 0.5rem;
}

