
<section class="nav-profile-modal" id="navProfileModal">
  <!-- nav bar w/ X -->
  <div class="nav-top-wrapper">
    <div class="modal-top-nav">
      <h3><%= current_user.user_name %>'s Profile</h3>
      <button class="close-btn" id="close-btn">
        <span>Close</span>
      </button>
    </div>
  </div>

  <div class="nav-profile-modal-container">
    <!-- Logout -->

    <div class="logout-col col">
      <%= link_to 'logout', '/logout'%>
    </div>

    <!-- Profile -->
    <div class="profile-col col">
      <h3>Profile</h3>
      https://media.licdn.com/media/AAEAAQAAAAAAAAY8AAAAJGEzNzY0Yzg5LTNiMzItNGE0ZS05MzFlLWU1MmY1MDhlMmEzYQ.jpg
    </div>

    <!-- Order History -->
    <div class=" hisotry-col col">
      <h3>Order History</h3>

      <li><%= link_to 'Order History', '/users/order_history' %></li>
    </div>


  </div>
</section>