
<section class="nav-profile-modal" id="navProfileModal">

  <!-- Profile -->
  <div class="col">
    <h3>Profile</h3>
  </div>

  <!-- Order History -->
  <div class="col">
    <h3>Order History</h3>
  </div>

  <!-- Logout -->
  <div class="col">
    <%= link_to 'logout' %>
  </div>

</section>