
  <!-- header -->
  <span class="profile-history-hover">
    <h3>Order History</h3>
  </span>
  <div class="history-details" id="profileHistoryDetails">
    <span class="date" > perchase date</span>
    <span class="total">total amoutn </span>

  </div>

  <!-- content -->
  <ul class="history-content">
    <% @items.each do |item, qty| %>
        <li>
          <span> <%= item.item_name%> </span>
          <span> $<%= item.price %>.00 </span>
        </li>
    <% end %>
  </ul>

