<h1>Order History</h1>

<ul>
  <% @orders.each_with_index do |order, index| %>
    <div class="item" style="border-bottom: 1px solid black; margin-bottom: 5px;">
      <%= link_to "Order No.#{order.id}", "/users/order_history/#{order.id}" %>
      <li> Order Date: <%=  Date.parse("#{order.created_at}") %> </li>
      <li> Order Total: $<%= @order_totals[index] %>.00</li>
    </div>
  <% end %>
</ul>


