// **********************
//Animation

@keyframes scale-up {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
    }


@keyframes border-scale {
  0%,
  100% {
    transform: scale(0)
  }
  50% {
    transform: scale(1)
  }
}

// Error message nav bar

@keyframes errorFade {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    }
  20%, 70% {
    opacity: 1;
    -webkit-transform: scale(1.0);
  }
  100% {
    visibility: hidden;
  }
}

