
//**************************
// Colors

$light-gray   : #ecf0f1;
$gray         : #eee;
$el-gray      :#f4f4f4;
$text-gray    : #848484;
$wet-gray     : #34495e;

$emerald      : #2ecc71;
$google-blue  : #4285f4;
$off-white    : #fafafa;

$alert-green  : #00c853;
$error-red    : #e52727;
$dark-gray    : #D4D9DD;


//**************************
// Primary colors Colors

$primary-color: $light-gray;
// $secondary-color: ;

//**************************
// Font family
// NTR
@import url(https://fonts.googleapis.com/css?family=NTR);

// Font-size

$base__font-size : 16px;
$base__line      : 24px;

$font--sm  : rem(14px) ;
$font--msm : rem(20px) ;
$font--med : rem(25px) ;
$font--lg  : rem(36px) ;
$font--xl  : rem(50px) ;

$font      : $font--msm ; // primary font

// border radius
$bd-radius: 0.4rem;

// card border bottom
$bb--card :rem( 5px) solid darken($primary-color, 10%) ;

// spacing
$sp--xs  :rem( 7px);
$sp--sm  : rem(14px);
$sp--msm : rem(20px);
$sp--med : rem(25px);
$sp--lg  : rem(35px) ;
$sp--xl  : rem(50px) ;



$pop-in: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);

$g--box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16);


// convert px to rem
@function rem($target, $context: $base__font-size) {
  @return ($target / $context) * 1rem;
}