
//**************************
// Colors

$wet-gray   : #34495e;
$light-gray : #ecf0f1;
$emerald    : #2ecc71;

//**************************
// Primary colors Colors

$primary-color: $light-gray;
// $secondary-color: ;

//**************************
// Font family

// NTR
@import url(https://fonts.googleapis.com/css?family=NTR);

// Text

$base__font-size : 16px;
$base__line      : 24px;

// border radius
$bd-radius: 0.4em;

// spacing
$sp--sm  : 0.2rem;
$sp--med : 0.5rem;
$sp--lg  : 1.2rem;
$sp--xl  : 3rem;
