// **********************
// Debugging

@mixin debug {
  border: 1px solid red;
}


@mixin main-btn($bg, $padding: 20px) {
  background: $bg;
  padding: ($padding / 2) $padding;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.5s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// **********************
//Vendor Prefix for flexbox

$prefixes: ('webkit', 'ms', 'moz', 'o');

// Display
@mixin display($value){
  @each $prefix in $prefixes {
    display: #{'-' + $prefix + '-' + $value}
  }
    display: $value;
}

//flex direction
@mixin flex-direction($value){
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + flex-direction}: $value;
  }
    flex-direction: $value;
}

//justify-content
@mixin justify-content($value){
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + justify-content}: #{'-' + $prefix + '-' + $value};
  }
    justify-content: $value;
}

//align-items
@mixin align-items($value){
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + align-items}: $value;
  }
    align-items: $value;
}

// flex
@mixin flex($value){
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + flex}: $value;
  }
    flex: $value;
}



// ***********************
// Media Query mixin
// ***********************


$tablet-width: 769px;
$desktop-width: 1025px;

@mixin tablet {
  @media (min-width: #{$tablet-width})  {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}