@import 'master';

.filter-container {

  #m-filterBtn {
    width: 100%;
    font-size: 1rem;
    border: 1px solid darken($light-gray, 10%);
    transition: background 1s;
    background: none;
    cursor: pointer;
    margin-bottom: 2%;

    @include tablet {
      display: none;
    };
  }

  .filter {
    // hide menu by default in mobile view
    // display: none;

    @include tablet {
      @include debug;
      display: block;
    }
    // style for label go here
    input[type='checkbox']{
      display: none;
    }
  }

  .filter-col {
    @include debug(blue);
    display: flex;
    flex-direction: column;

  } // end of filter-col

  .f-clearAll {
    display: none;
    @include tablet {
      @include main-btn($light-gray);
      font-size: $font--msm;
      margin-top: $sp--sm;
      color: gray;
      border: none;
      padding: 0;
      width: 80%;
      border: 1px solid gray;
    }
  }
} // filter-container end
