
@import 'master';

.mobile-filter-btn {
  width: 100%;
  font-size: 1rem;
  border: 1px solid darken($light-gray, 10%);
  transition: background 1s;
  background: none;
  cursor: pointer;
  margin-bottom: 2%;

  @include tablet {
    display: none;
  };
}

.filter {
  display: none;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-card {
    display: flex;
    flex-direction: column;

    border-radius: $bd-radius;
    width: 85%;

    @include tablet {
      max-width: rem(310px); // stretchs too far on large desktops
    }

    min-height: rem(406px); // account for large titles
    text-align: center;
    padding: 1% 2%;
    background: $el-gray;
    margin-bottom: 3%;
    border-bottom: $bb--card;

    // ===============
    // item img
    .itemImage {
      background: url('http://goo.gl/bLj6Ou') no-repeat center center;
      background-size: contain;
      height: 150px;
      width: 100px;
      margin: 0 auto;
      margin-top: $sp--sm;
    }

    h4 {
      font-size: $font--lg;
      margin-top: $sp--msm;

      @include tablet {
        font-size: $font--med;
      }

      @include desktop {
        font-size: $font--lg;
      }
    }
    li {
      font-size: $font--med;
      margin-top: auto;
    }


    .btn-add-to-cart {
      @include btn--large($google-blue) {
        padding: 2px;
        width: rem(200px);
      }

    }

  }

}

// Media-query

// Tablet Layout
@media ( min-width: 769px ) {
  // equal height and width columns using flexbox codePen
  main {
    display: flex;
  }

  .filter-container,
  .items-container {
    flex: 1;
  }

  .filter-container {
    // width: 80%;
    text-align: center;

    .filter {
      display: block;
    }

    h4 {
      margin: auto;
      width: 80%;
      font-size: 1.3rem;
      padding-bottom: .5rem;
    }
    div {

      h3 {
        margin: .5rem 0;
      }
      ul {
        text-align: left;
        font-size: 1.2rem;
      }
    }
  }
  .items-container {
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;

    .item-card {
      width: 32%;
      margin: 0 1%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: column;

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }
  } // end of container

} // end--tablet

// Desktop
@media ( min-width: 1025px ) {

} // end of media 1025