
@import 'master';

#items {
  @include tablet {
    display: flex;

    // prime the items to flex: 4;
    .filter-container,
    .items-container {
    flex: 1;
    }
    // make the items container 4 time large the filter
    .items-container {
      flex-direction: row;
      flex-wrap: wrap;
      flex: 4;
    }
  }
}


.items-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-card {
    display: flex;
    flex-direction: column;

    border-radius: $bd-radius;
    width: 85%;

    @include tablet {
      max-width: rem(310px); // stretchs too far on large desktops
        width: 32%;
      margin: 0 1%;
      margin-bottom: 2%;
      display: flex;
      flex-direction: column;
       &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }

    min-height: rem(406px); // account for large titles
    text-align: center;
    padding: 1% 2%;
    background: $el-gray;
    margin-bottom: 3%;
    border-bottom: $bb--card;

    // ===============
    // item img
    .itemImage {
      background: url('http://goo.gl/bLj6Ou') no-repeat center center;
      background-size: contain;
      height: 150px;
      width: 100px;
      margin: 0 auto;
      margin-top: $sp--sm;
    }

    h4 {
      font-size: $font--lg;
      margin-top: $sp--msm;

      @include tablet {
        font-size: $font--med;
      }

      @include desktop {
        font-size: $font--lg;
      }
    }
    li {
      font-size: $font--med;
      margin-top: auto;
    }


    .btn-add-to-cart {
      @include btn--large($google-blue) {
        padding: 2px;
        width: rem(200px);
      }
    }
  }
}
