@import 'master';

.quickviewBtn {
  cursor: pointer;
  display: block;
  padding: $sp--sm;
  width: 50%;
  margin: $sp--msm auto;
  border: 1px solid black;
  background: white;
  transition: all .3s;

  &:hover {
    background: black;
    color: white;
  }
}


// quick view modal
.quickview-container {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);

  background: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;


  // transition
  visibility: hidden;
  height: 100%;
  transform: scale(0);
  transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  // ======
  // Header

  .modal-header {
    @include display(flex);
    @include justify-content(flex-end);
    padding: $sp--sm;
    width: 100%;


  } // end of header

// ===============
// item img
.modal-itemImage {
  background: url('http://goo.gl/bLj6Ou') no-repeat center center;
  background-size: contain;
  height: 200px;
  width: 200px;
}


// ===============
// item details
.modal-itemDetails {
  width: 85%;
  margin: 0 auto;

  h4 {
    font-size: $font--lg;
    margin: $sp--sm 0;
  }
  p {
    font-size: $font--msm;
  }
  .price {
    margin: $sp--sm 0;
    padding: $sp--sm 0;
    font-size: $font--med;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }

  form {
    span,
    label,
    input {
      font-size: $font--med;
    }
    span {
      display: block;
      height: 55px;
      line-height: 55px;
      text-align: center;
    }

    input[type='number'] {
      cursor: pointer;
      font-size: $font--msm;
      width: 50px;
      padding: $sp--xs 0;
      background: white;
      border: 1px solid black;
      margin-bottom: $sp--sm;
    }
  }
}




} // end of container


//============
// modal transition

.quickview-container-show {
  visibility: visible;
  height: 100%;
  transform: scale(1);
}