
.quickviewBtn {
  cursor: pointer;
  display: block;
  background: green;
  padding: 12px;
  margin-bottom: 10px;
}


// quick view modal
.quickview-container {
  visibility: hidden;
  background: red;
  width: 100%;
  height: 0vh;
  position: fixed;
  top: 0;
  left: 0;

  transition: all 0.75s ease;
}

.quickview-container-show {
  visibility: visible;
  z-index: 100;
  height: 100vh;
}