@import 'mixins' ;

.items-container {
  display: flex;
  flex-direction: column;

  .item-card {
    text-align: center;
    background: LightGray;

    margin-bottom: 2%;


    h4 {
      font-size: 1.3rem;
      margin-top: .6rem;
    }
    li {
      padding: .3rem;

    }
    li:last-child {
      margin-top: auto;

    }

    .btn-add-to-cart {
      margin-top: 2rem;
      background: black;
      color: white;
      padding: .5rem 1rem;
      border: none;

      &:hover {
        color: yellow;
      }

    }

  }

}

// Media-query

// Tablet Layout
@media ( min-width: 769px ) {
  .items-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .item-card {
      width: 32%;
      display: flex;
      flex-direction: column;


      margin-bottom: 1.5%;
    }
  } // end of container

} // end--tablet

// Desktop
@media ( min-width: 1025px ) {
  .items-container {

    .item-card {
      width: 24%;
      margin-bottom: 1.5%;
    }
  } // end of container
} // end of media 1025