@import 'mixins' ;

.items-container {
  display: flex;
  flex-direction: column;

  .item-card {
    text-align: center;
    padding: 1% 2%;
    background: $light-gray;
    margin-bottom: 2%;


    h4 {
      font-size: 1.3rem;
      margin-top: .6rem;
    }
    li {
      padding: .3rem;

    }
    li:last-child {
      margin-top: auto;

    }

    .btn-add-to-cart {
      margin-top: 2rem;
      background: black;
      color: white;
      padding: .5rem 1rem;
      border: none;

      &:hover {
        color: yellow;
      }

    }

  }

}

// Media-query

// Tablet Layout
@media ( min-width: 769px ) {
  // equal height and width columns using flexbox codePen

  main {
    display: flex;
  }

  aside {
    width: 80%;
    text-align: center;

    h4 {
      margin: auto;
      width: 80%;
      font-size: 1.3rem;
      padding-bottom: .5rem;
      border-bottom: 1px solid $wet-gray;
    }
    div {
      margin: auto;
      width: 70%;
      margin-top: 1rem;

      h3 {
        margin: .5rem 0;
      }
      ul {
        text-align: left;
        font-size: 1.2rem;
      }
    }
  }
  .items-container {
    flex-direction: row;
    flex-wrap: wrap;

    .item-card {
      width: 32%;
      margin: 0 1%;
      margin-bottom: 1%;
      display: flex;
      flex-direction: column;

      &:nth-of-type(3n) {
        margin-right: 0;
      }

      &:nth-of-type(3n+1) {
        margin-left: 0;
      }
    }
  } // end of container

} // end--tablet

// Desktop
@media ( min-width: 1025px ) {

} // end of media 1025