
<!-- Filter Navigation -->
<button id='mobile-filter-btn' class='mobile-filter-btn'>Filter</button>

<aside class="filter-container">
  <%= render "navigation/filter_nav" %>
</aside>

<ul class="items-container">
  <!-- all the items -->
  <%= render "index" %>

</ul>