<h1>List of all items</h1>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= item.item_name %>
      <%= link_to 'Update', edit_item_path(item) %>
      <%= link_to 'Delete', 
        item,
        method: :delete,
        data: { confirm: 'Are you sure?' }
      %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add Item', new_item_path %>