
<!-- Filter Navigation -->

<section id="items">

  <aside class="filter-container">
    <%= render "navigation/filter_nav" %>
  </aside>

  <ul class="items-container">
    <!-- all the items -->
    <%= render "index" %>

  </ul>

</section>