// Place all the styles related to the charges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

button#submitButton {
  background-color: gold;
  background: green;
  color: red;
}