// Mix In
@import 'mixins' ;

* {
  box-sizing: border-box;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
}

// NEED TO CLEAR the FIXED HEADER SOMEHOW...
main {
  margin: auto;
  width: 95%;
  // to clear fixed header need better way
  margin-top: 4.5rem;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}


// Mobile

.main-header, .main-nav {
  display: flex;
  flex-direction: column;
  // is there a flex property for this
  text-align: center;
}

.main-header {
  width: 100%;
  position: fixed;
  background: white;

  .btn-wrap {

    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-size: 1.6rem;
    }

   .mobile-menu-btn,
   .mobile-filter-btn {
      @include main-btn($wet-gray, 20px);
      color: white;
      border: none;
    }

    .mobile-menu-btn {
      margin-right: 2.5%;
      // position button on far left
      margin-left: auto;

    }
    .mobile-filter-btn {
      margin-left: 2.5%;
      margin-right: auto;
    }

  }
}

.main-nav {

  // hide nav links on mobile
  display: none;
  list-style-type: none;


  li {
    a {
      color: darken( $light-gray, 50%);
      text-decoration: none;
      display: block;
      padding: .5rem;
      transition: all ease-in-out 0.35s;

      &:hover {
        color: darken( $light-gray, 90%);
      }
    }
  }
}

.error-notice {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 100%;
  text-align: center;

  p {
    // forward makes the animation keep elements on hidden
    width: 100%;
    background: lighten(green, 30%);
    color: $wet-gray;
    animation: fadein 2s forwards;
    font-size: 1.2rem;
  }
}





// Media-query

// Tablet Layout
@media ( min-width: 769px ) {

  .filter {
    display: block;
  }
  .main-header,
  .main-nav {
    display: flex;
  }

  .main-header {
    // center virtically
    align-items: center;
    min-height: 4rem;

    h3 {
      position: initial;
    }


   .mobile-menu-btn,
   .mobile-filter-btn {
      display: none;
   }

  }

  .main-nav {
    flex-direction: row;

    li a {
      min-width: 110px;
    }
   }


}

// Desktop
@media ( min-width: 1025px ) {
  .main-header,
  .main-nav {
    flex-direction: row;
    display: flex;
  }

  .main-header {
    justify-content: space-between;

    h3 {
      margin-left: 20px;
    }
  }

 .main-nav {

    li {

    }
 }

} // end of media 1025