// Mix In
@import 'mixins' ;
@import url(https://fonts.googleapis.com/css?family=NTR);

* {
  box-sizing: border-box;
  // and on line 36
  font-family: 'NTR', sans-serif;
  color: black;

}


// Mobile
body {
  @include display(flex);
  @include flex-direction(column);
  min-height: 100vh;
}

// NEED TO CLEAR the FIXED HEADER SOMEHOW...
main {
  margin: auto;
  width: 95%;
  // to clear fixed header need better way
  margin-top: 10vh;
  // @include tablet { margin-top: 4.5rem; };

}

.main-header, .main-nav {
  @include display(flex);
  @include flex-direction(column);
  // is there a flex property for this
  text-align: center;
  font-family: 'NTR', sans-serif;
}

.main-header {
  width: 100%;
  position: fixed;
  background: white;

  .btn-wrap {
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);

    h3 {
      font-size: 1.6rem;
    }

    .mobile-menu-btn {
      margin-right: 2.5%;
      margin-left: auto; // keeps pacifica header in center...

    }
    .mobile-filter-btn {
      margin-left: 2.5%;
      margin-right: auto;
    }

  }
}

.main-nav {

  // hide nav links on mobile
  display: none;

  li {
    a {
      color: darken( $light-gray, 30%);
      text-decoration: none;
      display: block;
      padding: .5rem;
      transition: all ease-in-out 0.35s;


      &:hover {
        color: darken( $light-gray, 90%);
        transform: scale(1.2)
      }
    }
  }
}

.error-notice {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);

  position: absolute;
  width: 100%;
  text-align: center;

  p {
    // forward makes the animation keep elements on hidden
    width: 100%;
    background: lighten(green, 30%);
    color: $wet-gray;
    animation: fadein 2s forwards;
    font-size: 1.2rem;
  }
}

.main-footer {
  font-family: 'NTR', sans-serif;
  text-align: center;
  padding: 0.5rem;
  .footer-inner p {
    padding: .3rem;
  }
}


// Tablet Layout
@media ( min-width: 769px ) {

  .main-header,
  .nav-container,
  // nav links
  .main-nav {
    @include display(flex);
  }

  .main-header {
    // this must be column form so this is center items vertically
    @include justify-content(center);
    min-height: 4rem;

    .nav-container {
      @include justify-content(space-between);
      width: 95%;
      margin: 0 auto;
    }

    .main-nav {
      @include flex-direction(row);

      li a {
        min-width: 75px;
        flex: 1
      }
     }

      // hide mobile icons/btn in tablet + view
     .mobile-menu-btn,
     .mobile-filter-btn {
        display: none;
     }

     h3 {
     }
  }
}

// Desktop
@media ( min-width: 1025px ) {

  .main-nav li a {
    min-width: 110px;
  }

} // end of media 1025