// Mix In
@import 'mixins' ;

* {
  box-sizing: border-box;
  color: black;
}

body {
  background: darken(#ecf0f1, 10%);
  display: flex;
  flex-direction: column;
}

main {
  padding: 0 1rem ;
  margin-top: 4rem;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}


// Mobile

.main-header, .main-nav {
  display: flex;
  flex-direction: column;

  // is there a flex property for this
  text-align: center;
}

.main-header {
  position: fixed;
  width: 100%;
  background: darken(#ecf0f1, 10%);

   .mobile-menu-btn {

    @include main-btn($wet-gray, 20px);
    display: block;
    color: white;
    border: none;
    margin: 15px 0;
    // position button on far left
    margin-right: auto;
  }
}

.main-nav {

  // hide nav links on mobile
  display: none;

  list-style-type: none;


  li {
    a {
      text-decoration: none;
      display: block;
      padding: .5rem;
      transition: all ease-in-out 0.75s;

      &:hover {
        background: darken( white, 50%);
        color: white;
      }
    }
  }
}

.error-notice {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  margin-bottom: -1%;
  width: 100%;
  margin-left: -1rem;
  text-align: center;

  p {
    // forward makes the animation keep elements on hidden
    width: 100%;
    background: lighten(green, 30%);
    color: $wet-gray;
    animation: fadein 2s forwards;
    font-size: 1.2rem;
  }
}





// Media-query

// Tablet Layout
@media ( min-width: 769px ) {
  .main-header,
  .main-nav {
    display: flex;
  }

  .main-header {
    // center virtically
    align-items: center;
    height: 4rem;


   .mobile-menu-btn {
      display: none;
   }

  }

  .main-nav {
    flex-direction: row;

    li a {
      min-width: 110px;
    }
   }


}

// Desktop
@media ( min-width: 1025px ) {
  .main-header,
  .main-nav {
    flex-direction: row;
    display: flex;
  }

  .main-header {
    justify-content: space-between;
  }

 .main-nav {

    li {

    }
 }

} // end of media 1025