@mixin debug {
  border: 1px solid red;
}

@mixin main-btn {

}

@keyframes fadein {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    }
  20%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.0);
  }


}

//Animation

