// Colors

$wet-gray: #34495e;
$light-gray: #ecf0f1;


@mixin debug {
  border: 1px solid red;
}


//Animation
@keyframes fadein {
  0%, 100% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    }
  20%, 90% {
    opacity: 1;
    -webkit-transform: scale(1.0);
  }
}

// button

@mixin main-btn($bg, $padding) {
  background: $bg;
  padding: ($padding / 2) $padding;
  &:hover {
    background:darken($bg,8%);
    transition: all 0.5s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}


