@import 'mixins';

// google auto fill input field

.signup-container {
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  margin: 0 auto;

  @include tablet {
    width: 80%;
    background: lighten($light-gray, 5%);
    border: 2px solid $light-gray;
    padding: 1.5rem 0 .6rem 0;
    border-radius: 15px;
  }


  form,
  .signup-col {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    width: 100%;
  }

  form {

    .signup-col {

      font-size: 1.2rem;
      input {
        font-size: 1rem;
        text-align: center;
        width: 80%;
        margin-bottom: .5rem;
      }
    } //end input

    .signup-col-2,
    .signup-col-3 {
      background: $light-gray;
      @include tablet {
        background: none;
      }
    }

    .signup-col-2 {
      padding-top: 1rem;
    }
    .signup-col-3{
      padding-bottom: 1rem;
    }
  }

  .signup-submit-btn {
    width: 80%;
    margin-top: 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: darken($light-gray, 30%);
    color: white;
    transition: .3s ease-in;
    &:hover {
      background-color: darken($light-gray, 50%);
    }
  }

  .signup-login {
    width: 80%;
    margin-top: .6rem;
    font-size: 1.2rem;
    text-align: center;
    padding: .8rem;
    transition: .3s ease-in;
    &:hover {
      color: white;
      background-color: $emerald;
    }
  } // end of form
} // end of container

