<div class="filter">
  <h4>Coffee Format</h4>
  <div>
    <ul>
      <li>Specials</li>
      <li>New</li>
    </ul>
  </div>
<div>
  <h4>Filter</h4>
  <h3>Caffine</h3>
  <ul>
    <li><input type="checkbox" />Decaf</li>
    <li><input type="checkbox" />Regular</li>
  </ul>
</div>
<div>
  <h3>Roast</h3>
  <ul>
    <li><input type="checkbox" />Blonde</li>
    <li><input type="checkbox" />Medium</li>
    <li><input type="checkbox" />Dark</li>
  </ul>
</div>
<div>
  <h3>Region</h3>
  <ul>
    <li><input type="checkbox" />Latin America</li>
    <li><input type="checkbox" />Africa</li>
    <li><input type="checkbox" />Asian Pacific</li>
  </ul>
 </div>
</div>
