<!-- filter btn to show everything -->
<button id='m-filterBtn'>Filters</button>

<div class="filter">
<!-- specials?  -->
  <div class="filter-col">
    <!-- removed for now... -->
  </div>


<!-- =========
  Caffeine -->
  <div class="filter-col">
    <h3>Caffeine</h3>

    <input id='f-decaf' name= 'caffeine' value='decaf' type="checkbox" />
    <label for="f-decaf">Decaf</label>

    <input id="f-regular" name= 'caffeine' value='regular' type="checkbox" />
    <label for="f-regular">Regular</label>
  </div>
<!-- =========
  Roast -->
  <div class="filter-col">
    <h3>Roast</h3>

    <input id="f-blonde" name="roast" value='blonde' type="checkbox" />
    <label for="f-blonde">Blonde</label>

    <input id="f-medium" name="roast" value='medium' type="checkbox" />
    <label for="f-medium">Medium</label>

    <input id="f-dark" name="roast" value= 'dark' type="checkbox" />
    <label for="f-dark">Dark</label>
</div>

<!-- =========
region -->

  <div class="filter-col">
    <h3>Region</h3>
      <input id="f-latin_america" name="region" value ='latin_america' type="checkbox" />
      <label for="f-latin_america">Latin America</label>

      <input id="f-africa" name="region" value = 'africa' type="checkbox" />
      <label for="f-africa">Africa</label>

      <input id="f-asian_pacific" name="region" value = 'asian_pacific' type="checkbox" />
      <label for="f-asian_pacific">Asian Pacific</label>
   </div>

   <!-- Clear all btn -->
  <button class="f-clearAll">Clear All</button>

</div>
