<div class="filter">

<!-- specials?  -->
  <div class="filter-col">
    <h4>Coffee Format</h4>

    <input value="special" type="checkbox"/>

    <label for="f-">PlaceHolder</label>
    <input value="new" type="checkbox"/>
  </div>

  <h4>Filter</h4>

<!-- =========
  Caffeine -->
  <div class="filter-col">
    <h3>Caffine</h3>

    <label for="f-decaf">Decaf</label>
    <input id='f-caffeine' name= 'caffeine' value='decaf' type="checkbox" />

    <label for="f-regular">Regular</label>
    <input id="f-regular" name= 'caffeine' value='regular' type="checkbox" />
  </div>
<!-- =========
  Roast -->
  <div class="filter-col">
    <h3>Roast</h3>

    <label for="f-blonde">Blonde</label>
    <input id="f-blonde" name="roast" value='blonde' type="checkbox" />

    <label for="f-medium">Medium</label>
    <input id="f-medium" name="roast" value='medium' type="checkbox" />

    <label for="f-dark">Dark</label>
    <input id="f-dark" name="roast" value= 'dark' type="checkbox" /> Dark
</div>

<!-- =========
region -->

  <div class="filter-col">
    <h3>Region</h3>
      <label for="f-latin_america">Latin America</label>
      <input id="f-latin_america" name="region" value ='latin_america' type="checkbox" />

      <label for="f-africa">Africa</label>
      <input id="f-" name="region" value = 'africa' type="checkbox" />

      <label for="f-asian_pacific">Asian Pacific</label>
      <input id="f-asian_pacific" name="region" value = 'asian_pacific' type="checkbox" />
   </div>

   <!-- Clear all btn -->
  <button class="f-clearAll">Clear All</button>

</div>
